@page "/setlists"
@attribute [Authorize]
@inject NavigationManager NavManager
@inject SetListApiClient SetListApiClient

<FluentHeader>
    Set Lists
</FluentHeader>

@if (Sets is null)
{
    <FluentProgressRing></FluentProgressRing>
}
else 
{
    <FluentDataGrid Items="@Sets">
        <TemplateColumn Title="Name" Sortable="true" Align="Align.Start">
            <a href="@($"setlist/{context.Id}")">@context.Name</a>
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.Duration)" Sortable="true" />
        <TemplateColumn Title="Songs" Sortable="true" Align="Align.Center" Width="20">
            <span>@context.Songs.Length</span>
        </TemplateColumn>
    </FluentDataGrid>
}

@code 
{
    public IQueryable<SetList>? Sets { get; set; }
    protected override async Task OnInitializedAsync() 
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        if (NavManager.TryGetValue<Guid>("bandId", out var bandId))
        {
            Sets = await SetListApiClient.GetSetListsAsync(bandId, CancellationToken.None);
        }
        else 
        {
            Sets = await SetListApiClient.GetSetListsAsync(bandId: null, CancellationToken.None);
        }
    } 
}
